certifi==2018.10.15
Click==7.0
cycler==0.10.0
decorator==4.3.0
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
functools32==3.2.3.post2
matplotlib==2.0.2
networkx==2.2
numpy==1.15.4
opencv-contrib-python==3.4.3.18
Pillow==5.3.0
protobuf==3.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
scikit-image==0.13.0
scipy==1.1.0
six==1.11.0
subprocess32==3.5.3
tensorboardX==1.4
torch==0.3.1
torchvision==0.2.1
tqdm==4.28.1
